<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>TASchedulingApp</title>
</head>
<body>
    {% for user in users %}
        <div>
            <form method="post" action="/Home/DeleteAccount/">
                {% csrf_token %}
                <input type="hidden" name="username" value={{ user.username }}><p>{{ user.username }}{{ user.password }}{{ user.clearance }}</p><input type="submit"/>
            </form>
        </div>
    {% endfor %}
    <button><a href="/Home">Back To Home</a></button>
    <div id="out">{{out | safe }}</div>

</body>
</html>