<!DOCTYPE html>
<html lang="en">
<head>

<body>
    <meta charset="UTF-8">
    <title>TASchedulingApp</title>
    <form method="post" action="/Home/">
        {% csrf_token %}
        command: <input type="text" name="command"/><input type="submit"/>
    </form>
    <form method="post" action="/Home/">
        {% csrf_token %}
        <input name="command" value ="Logout" type="submit"/>
    </form>
    <div id="out">{{out | safe }}</div>
    <div id="links">{{ links | safe }}</div>
</head>
</body>
</html>